{% extends "account/base_entrance.html" %}
{% load i18n static %}

{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<div class="wrapper">
  <div class="auth-content">
      <div class="card">
          <div class="card-body text-center">
              <div class="mb-4">
                  <img class="brand" style="width: 200px;" src="{% static 'assets/img/logo-edi.png' %}" alt="bootstraper logo">
              </div>
              <h6 class="mb-4 text-muted">
                {% trans "Email Confirmed Sent" %}
              </h6>
              {% if user.is_authenticated %}
                  {% include "account/snippets/already_logged_in.html" %}
              {% endif %}
              
              <p style="margin: 10px 0;">
                  {% blocktrans %}We have sent you an email.{% endblocktrans %}
              </p>
              <p style="margin: 10px 0;">
                  {% blocktrans %}If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
              </p>
              <br class="clear">

              <p class="mb-0 text-muted">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
          </div>
      </div>
  </div>
</div>




{% endblock content %}