{% extends "account/base_entrance.html" %}
{% load i18n static account  %}
{% block head_title %}
    {% trans "Email Confirm" %}
{% endblock head_title %}
{% block content %}
<div class="wrapper">
    <div class="auth-content">
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <img class="brand" style="width: 200px;" src="{% static 'assets/img/logo-edi.png' %}" alt="bootstraper logo">
                </div>
                <h6 class="mb-4 text-muted">{% trans "Email Confirmation" %}</h6>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="text-muted text-center">Enter the email address you used to register for this program in other to be able to setup your account!!!</p>
                <form action="{% url 'account_reset_password' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3 text-start">
                        <label for="email" class="form-label">Email adress</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter Email address" autocomplete="email" maxlength="320" required id="id_email">
                    </div>
                    <button class="btn btn-primary shadow-2 mb-4">
                        {% trans 'Send me new password' %}
                    </button>
                </form>
                <p class="mb-0 text-muted">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}