{% extends 'base.html' %}
{% load static %}

{% block content %}
<main id="main">

    <!-- ======= Features Section ======= -->

    <section class="hero-section inner-page">
      <div class="wave">

        <svg width="1920px" height="265px" viewBox="0 0 1920 265" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
              <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
            </g>
          </g>
        </svg>

      </div>

      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-md-7 text-center hero-text">
                <h1 data-aos="fade-up" data-aos-delay="">Joining Our Communities</h1>
                <p class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    Joining our communities offers a myriad of benefits, fostering an environment of collaboration, learning, and growth. Here's why you should become a part of our vibrant community:</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="section pb-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7 me-auto">
            <h2 class="mb-4">Knowledge Exchange</h2>
            <ul>
                <li>Access a wealth of collective knowledge and expertise.</li>
                <li>Engage in discussions and learn from diverse perspectives.</li>
                <li>Share your insights and contribute to the community's knowledge pool.</li>
            </ul>
          </div>
          <div class="col-md-5" data-aos="fade-left">
            <img src="{% static 'assets/img/knowledge-translation-exchange.png' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7 ms-auto order-2">
            <h2 class="mb-4">Networking Opportunities:</h2>
            <ul>
                <li>Connect with like-minded individuals and professionals in your field.</li>
                <li>Build valuable relationships that can lead to collaborations or partnerships.</li>
                <li>Expand your network globally and stay updated on industry trends.</li>
            </ul>
          </div>
          <div class="col-md-5" data-aos="fade-right">
            <img src="{% static 'assets/img/Networkin-opport.jpeg' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="section pb-0">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 me-auto">
            <h2 class="mb-4">Career Development.</h2>
            <ul>
                <li>Receive mentorship and guidance from experienced members.</li>
                <li>Access job boards, career resources, and exclusive job opportunities.</li>
                <li>Showcase your skills and projects to potential employers or clients.</li>
            </ul>
          </div>
          <div class="col-md-5" data-aos="fade-left">
            <img src="{% static 'assets/img/career.jpeg' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7 ms-auto order-2">
            <h2 class="mb-10">Community Support.</h2>
            <ul>
                <li>Benefit from a supportive community during challenges or roadblocks.</li>
                <li>Celebrate your achievements and milestones with a group that understands your journey.</li>
                <li>Seek advice, feedback, and encouragement from fellow community members.</li>
            </ul>
          </div>
          <div class="col-md-5" data-aos="fade-right">
            <img src="{% static 'assets/img/Community-support.jpeg' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="section pb-0">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 me-auto">
            <h2 class="mb-4">Collaborative Projects.</h2>
            <ul>
                <li>Participate in collaborative projects to apply your skills in real-world scenarios.</li>
                <li>Contribute to open-source initiatives and make a positive impact.</li>
                <li>Showcase your teamwork and build a portfolio of collaborative achievements.</li>
            </ul>
          </div>
          <div class="col-md-5" data-aos="fade-left">
            <img src="{% static 'assets/img/callaboration.jpeg' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7 ms-auto order-2">
            <h2 class="mb-4">Personal Growth.</h2>
            <ul>
                <li>Engage in personal development initiatives and self-improvement challenges.</li>
                <li>Receive constructive feedback and mentorship for continuous growth.</li>
                <li>Empower yourself to overcome challenges and achieve your goals.</li>
            </ul>
          </div>
          <div class="col-md-5" data-aos="fade-right">
            <img src="{% static 'assets/img/personal-growth-concept-chart-keywords-icons-white-background-97029953.webp' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <center>
        <div class="container" style="display: flex; align-items: center; justify-content: space-around;">
            <a href="https://chat.whatsapp.com/BJQObELzRUg23zEdQWIXs0">
                <img src="{% static 'assets/img/WhatsApp.svg.webp' %}" style="width: 100px;" alt="">
            </a>
            <a href="https://discord.gg/YsgKSanp">
                <img src="{% static 'assets/img/discord.original-removebg-preview.png' %}" style="width: 140px;" alt="">
            </a>
        </div>
    </center>

    <!-- ======= Testimonials Section ======= -->
    <section class="section border-top border-bottom">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-4">
            <h2 class="section-heading">Review From Our Users</h2>
          </div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-md-7">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="review text-center">
                    <p class="stars">
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill muted"></span>
                    </p>
                    <h3>Excellent App!</h3>
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ea delectus pariatur, numquam
                        aperiam dolore nam optio dolorem facilis itaque voluptatum recusandae deleniti minus animi,
                        provident voluptates consectetur maiores quos.</p>
                    </blockquote>

                    <p class="review-user">
                      <img src="assets/img/person_1.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                      <span class="d-block">
                        <span class="text-black">Jean Doe</span>, &mdash; App User
                      </span>
                    </p>

                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="review text-center">
                    <p class="stars">
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill muted"></span>
                    </p>
                    <h3>This App is easy to use!</h3>
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ea delectus pariatur, numquam
                        aperiam dolore nam optio dolorem facilis itaque voluptatum recusandae deleniti minus animi,
                        provident voluptates consectetur maiores quos.</p>
                    </blockquote>

                    <p class="review-user">
                      <img src="assets/img/person_2.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                      <span class="d-block">
                        <span class="text-black">Johan Smith</span>, &mdash; App User
                      </span>
                    </p>

                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="review text-center">
                    <p class="stars">
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill muted"></span>
                    </p>
                    <h3>Awesome functionality!</h3>
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ea delectus pariatur, numquam
                        aperiam dolore nam optio dolorem facilis itaque voluptatum recusandae deleniti minus animi,
                        provident voluptates consectetur maiores quos.</p>
                    </blockquote>

                    <p class="review-user">
                      <img src="assets/img/person_3.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                      <span class="d-block">
                        <span class="text-black">Jean Thunberg</span>, &mdash; App User
                      </span>
                    </p>

                  </div>
                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= CTA Section ======= -->
    {% include 'cta.html' %}

  </main><!-- End #main -->

{% endblock %}
    